/* TÍTULOS */
.card h3,
.card h4 {
    color: #000000;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

/* TABELAS GERAIS (afeta todas as .tabela-ficha, mas não alteradas) */
.tabela-ficha {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    background: #fafafa;
    border-radius: 10px;
    overflow: hidden;
}

/* TABELA ESPECÍFICA PARA LEITÕES (mais larga) */
.tabela-larga {
    width: 1070px; 
}

.tabela-ficha td,
.tabela-ficha th {
    padding: 5px 5px;
    border: 1px solid #ddd;
}

/* CABEÇALHOS */
.titulo-secao {
    background-color: #e9ecef;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

/* INPUTS GERAIS */
.form-control, .form-select {
    background: transparent;
    border: none !important;
    border: 1px solid #bfbfbf !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 6px;
}

.form-control:focus, .form-select:focus {
    border-bottom: 2px solid #bfbfbf !important;
}

#select-sx{
    width: 63px;
    font-size: 15.5px;
}

#mossa{
    width: 55px;
}

/* BOTÕES */
.btn-excluir {
    background-color: #dc3545 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 47px;
    margin-left: 2px;
}

.btn-excluir:hover {
    background-color: #c82333 !important; 
}

.card {
    margin: 0 auto;
    max-width: 1200px; /* Limite para estreitar o formulário */
    overflow: visible; /* Sem rolagem interna */
}